* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 30%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    border: 1px solid black;
    min-height: 500px;
}

.section {
    padding: 30px 0;
}
.col{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}